items assets kind software-package url https://link.storjshare.io/raw/jvnp2ukjbauzi7bititcz5tgv6tq/my-bucket/signed_1741611089663_ifbem4.ipa kind display-image needs-shine url https://ipasign.pro/icons/Kagi_1741611089663_ifbem4.png kind full-size-image needs-shine url https://ipasign.pro/icons/Kagi_1741611089663_ifbem4.png metadata bundle-identifier com.kagimacOS.Kagi-Search bundle-version 14 kind software title Kagi
